.primary-btn{
    background-color:hsl(213, 96%, 18%) ;
    border-radius:4px ;
    color:hsl(0, 0%, 100%);
    font-size: 12px;
    padding: 1.5% 2.5%;
    border: none;
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
}
.primary-btn:hover{
    background-color: hsl(243, 100%, 62%);
}